/* table 
{
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

table .smart-form 
{
    position: static;
}

.smart-form 
{
    margin: 0;
    outline: 0;
    color: #666;
    position: relative;
}

.smart-form *, 
.smart-form :after, 
.smart-form :before 
{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}

thead 
{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr 
{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody 
{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.display-6 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.badge 
{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    border-radius: 10px;
}

.smart-form .badge 
{
    padding: 3px 7px;
}

.bg-color-greenLight 
{
    background-color: #71843f!important;
} */

.detail
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 12fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}

.detail .class-list
{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border: 1px solid #ddd;
}

.detail .class-list span
{
    font-size: 20px;
}

thead tr td
{
    font-size: 16px;
    text-align: center;
}

tbody tr td 
{
    text-align: center;
}

.detail table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.detail table thead td
{
    font-weight: 600;
}

.detail table thead tr, 
.detail table thead td 
{
    border: 1px solid #ddd;
    padding: 8px;
}

.detail table tbody tr, 
.detail table tbody td 
{
    border: 1px solid #ddd;
    padding: 8px;
}

.detail table tbody td a
{
    align-items: center;
}

.detail .class-list table tr
{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);    
}

.detail .class-list table tbody tr:hover
{
    background: var(--blue);
    color: var(--white)
}

.detail .class-list table tr td
{
    padding: 10px;
}

.detail .class-list table tr td:last-child
{   
    text-align: center;
}

.container 
{
    margin-left: 10px;
}

.text-center 
{
    text-align: center;
    align-items: center;
}

.pagination 
{
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    margin-left: 700px;
    border-radius: 4px;
}

.pagination .pagination-list, 
.pagination ol 
{
    margin-top: 0;
    margin-bottom: 10px;
}

ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.pagination-list li.current 
{
    background: #0d6efd;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.pagination-list li.next
{
    background: #bdd6fa;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.pagination-list li.next-page
{
    background: #bdd6fa;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.pagination-list li a
{
    color: #ffffff;
    text-decoration: none;
}

.pagination-list li 
{
    border: 1px solid #e1e1e1;
    display: inline-block;
    margin: 1px;
    border-radius: 2px;
}

table thead tr .buoi-hoc,
table thead tr .DCC,
table thead tr .DKT
{
    background: #5f99f0;
}

table thead tr .buoi-hoc a,
table thead tr .DCC a,
table thead tr .DKT a
{
    color: #ffffff;
}