@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html
{
    scroll-behavior: smooth;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #ccc;
}

body
{
    background-color: #fff
}

header
{
    position: relative;
    display: block;
    height: 49px;
    margin: 0;
    padding: 0 13px 0 0;
    background-color: #f3f3f3;
    z-index: 2;
}

header>:first-child, aside
{
    width: 220px;
}

header > div
{
    display: inline-block;
    vertical-align: middle;
    height: 49px;
    float: left;
}

#logo-group > span
{
    display: inline-block;
    height: 39px;
    float: left;
}

#logo
{
    display: inline-block;
    width: 175px;
    margin-top: 13px;
    margin-left: 9px;
}

#logo img
{
    width: 110px;
    height: auto;
    padding-left: 3px;
}

img
{
    vertical-align: middle;
}

#project-context, .project-context
{
    display: inline-block;
    padding: 7px 13px 0;
    position: relative;
}

#project-context>:first-child, .project-context>:first-child
{
    display: block;
    color: #bfbfbf;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 1px #fff;
    padding-left: 0;
    text-align: left;
}

#project-context>span, .project-context > span
{
    display: block;
}

#project-selector, .project-selector
{
    max-width: 97%;
    white-space: nowrap;
    background: 0 0;
    border: none;
    padding: 0;
    text-align: left;
    color: #555;
    font-size: 14px;
    cursor: pointer;
}

.dropdown-menu
{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}

.dropdown-menu > li > a
{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.dropdown-menu > li > a:hover
{
    background-color: #0855c9;
    color: #fff;
}

.dropdown-menu.show {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu .divider
{
    height: 1.5px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.fa-facebook
{
    color: #0d6efd;
}

/* aside
{
    display: block;
    background: #3a3633;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5NyUiIHN0b3AtY29sb3I9IiMzYTM2MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmEyNzI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left,#3a3633 93%,#2a2725 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(93%,#3a3633),color-stop(100%,#2a2725));
    background: -webkit-linear-gradient(left,#3a3633 93%,#2a2725 100%);
    background: -o-linear-gradient(left,#3a3633 93%,#2a2725 100%);
    background: -ms-linear-gradient(left,#3a3633 93%,#2a2725 100%);
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    min-height: 200%;
} */

option,
.datetime-local
{
    text-align:center;
}

.login-info
{
    display: block;
    font-size: 12px;
    height: 39px;
    color: #fff;
    border: solid transparent;
    border-width: 1px 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    width: 100%;
    margin: 0!important;
    border-bottom: 1px solid #525151;
}

.login-info>span
{
    height: 38px;
    display: block;
    padding: 0 10px;
    border-bottom: 1px solid #1A1817;
}

.login-info a
{
    text-decoration: none!important;
    color: #c0bbb7;
    display: inline-block;
    margin-top: 6px;
}

.login-info img
{
    width: 25px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
    margin-right: 5px;
    margin-left: 0;
    border-left: 3px solid #fff;
}

img.online
{
    border-left-color: #40ac2b!important;
}

.login-info a span+i
{
    vertical-align: middle;
}

.fa
{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav ul
{
    width: 100%;
    padding: 40px 28px 25px 0;
    padding: 0;
    margin: 0;
    font-size: 13px;
    list-style: none;
    position: relative;
}

ol, ul
{
    margin-top: 0;
    margin-bottom: 9px;
}

ul
{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul li
{
    list-style: none;
}

li
{
    display: list-item;
    text-align: -webkit-match-parent;
    text-decoration: none;
}

nav ul ul
{
    margin: 0;
    display: none;
    background: rgba(69,69,69,.6);
    padding: 7px 0;
}

nav ul li a
{
    line-height: normal;
    font-size: 14px;
    padding: 10px 10px 10px 11px;
    color: #c0bbb7;
    display: block;
    font-weight: 400;
    text-decoration: none!important;
    position: relative;
}

nav ul li a:hover
{
    color: #ffffff;
}

.minifyme
{
    border-bottom: 1px solid #302F2F;
    background: #454545;
    color: #A8A8A8;
    text-align: center;
    padding: 0;
    width: 36px;
    height: 28px;
    display: block;
    position: absolute;
    right: 0;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    margin-top: 7px;
    font-size: 19px;
    transition: all .1s linear 0s;
}

.minifyme:hover
{
    background: #646464;
    color: #E4E4E4;
    right: 0;
    width: 40px;
    padding-right: 5px;
}

.main
{
    display: none;
}

#main
{
    /* padding-bottom: 120px; */
    margin-left: 220px;
    padding: 0;
    /* padding-bottom: 52px; */
    position: relative;

}

#ribbon {
    min-height: 40px;
    background: #474544;
    padding: 0 13px;
    position: relative;
}

.ribbon-button-alignment
{
    padding-top: 10px;
    display: inline-block;
}

.btn.btn-ribbon
{
    background-color: #707070;
    background-image: -moz-linear-gradient(top,#777,#666);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#777),to(#666));
    background-image: -webkit-linear-gradient(top,#777,#666);
    background-image: -o-linear-gradient(top,#777,#666);
    background-image: linear-gradient(to bottom,#777,#666);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff777777', endColorstr='#ff666666', GradientType=0);
    color: #fff;
    padding: 0 5px;
    line-height: 20px;
    vertical-align: middle;
    height: 20px;
    display: block;
    border: none;
    float: left;
    margin: 0 8px 0 0;
    cursor: pointer;
}

.btn.btn-ribbon>i
{
    font-size: 111%;
}

.fa
{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.breadcrumb
{
    padding: 8px 15px;
    margin-bottom: 18px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 2px;
}

#ribbon .breadcrumb
{
    display: inline-block;
    margin: 0;
    padding: 11px 34px 11px 0!important;
    background: 0 0;
    vertical-align: top;
}

#ribbon .breadcrumb, #ribbon .breadcrumb a
{
    color: #BBB!important;
    text-decoration: none!Important;
}

.mt-4, .my-4
{
    margin-top: 1.5rem !important;
}

.mb-3, .my-3
{
    margin-bottom: 1rem !important;
}

.row
{
    margin-left: 13px;
    margin-right: -13px;
}

.pr-0, .px-0
{
    padding-right: 0 !important;
}

.txt-color-blueDark
{
    color: #4c4f53!important;
}

.page-title
{
    margin: 12px 0 28px;
}

h1
{
    letter-spacing: -1px;
    font-size: 24px;
    margin: 10px 0;
}

h1, h2, h3, h4
{
    margin: 0;
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    font-weight: 300;
}

.fa-fw
{
    width: 1.28571429em;
    text-align: center;
}

.mt-3, .my-3
{
    margin-top: 1rem !important;
}

.text-align-left, .text-left
{
    text-align: left!important;
}

.text-align-right, .text-right
{
    text-align: right!important;
}

.text-filter[_ngcontent-c13]
{
    padding: 6px;
    font-size: 17px;
}

#inbox-content
{
    position: relative;
}

.ml-4, .mx-4
{
    margin-left: 1.5rem !important;
}

.well
{
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px #ececec;
    -webkit-box-shadow: 0 1px 1px #ececec;
    -moz-box-shadow: 0 1px 1px #ececec;
    position: relative;
}

.table-responsive
{
    overflow-x: auto;
    min-height: .01%;
}

.inner-tkb .table
{
    border-collapse: inherit;
}

thead
{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.inner-tkb .bagroud
{
    background-color: #cacaca;
}

.inner-tkb .table tbody > tr > th
{
    border: none;
}

th
{
    font-size: 16px;
}

tbody tr th
{
    font-size: 18px;
    margin-bottom: 19px;
    font-weight: 450;
}

tbody tr td
{
    font-size: 16px;
}

tbody tr td a
{
    text-decoration: none;
    font-weight: 450;
}

td .title-red
{
    color: red;
}

.inbox-body .well .row .alert
{
    font-size: 16px;
}

.chon-tuan-p .row
{
    display: flex;
    justify-content: center;
}

.table-detail td {
    border: none !important;
}

.chon-tuan-p .row .text-center
{
    font-size: 20px;
}

.popup-container
{
    display: none;
    background-color: #727171b3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.popup-content
{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button
{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.doi-tuan
{
    float: right!Important;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.text-filter
{
    flex-grow: 2;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

.popup-content
{
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
}

.popup-content h2
{
  font-size: 24px;
  margin-bottom: 10px;
}

.popup-content p
{
  font-size: 18px;
  margin-bottom: 20px;
}

.btn-change, .btn-primary
{
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}

.btn-change
{
  background-color: #007bff;
  color: #fff;
}

.login-info span
{
    cursor: pointer;
    color: #c0bbb7;
}

.login-info span:hover
{
    color: #fff;
}

#school-year > option
{
    text-align: center;
}

tbody tr td input
{
    border: none;
}

tbody tr td input:focus
{
    outline: none;
}

#uploadInput
{
    border-radius: 0.375rem;
}

button
{
    border-radius: 0.375rem;
}

.loader-container
{
    position: absolute;
    top: 40vh;
    left: 45vw;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    perspective: 800px;
    overflow: hidden;
}

.loader-container .inner
{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.loader-container .inner.one
{
    left: 0;
    top: 0;
    animation: 1.02s linear infinite rotate-one;
    border-bottom: 7px solid #4a4a4a;
}

.loader-container .inner.two
{
    right: 0;
    top: 0;
    animation: 1.02s linear infinite rotate-two;
    border-right: 7px solid #4a4a4a;
}

.loader-container .inner.three
{
    right: 0;
    bottom: 0;
    animation: 1.02s linear infinite rotate-three;
    border-top: 7px solid #4a4a4a;
}

.main-body
{
    display: none;
}

@keyframes rotate-one
{
    0%
    {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%
    {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two
{
    0%
    {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100%
    {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three
{
    0%
    {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%
    {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

.toggle
{
    display: inline-block;
    font-size: 25px;
    margin: 8px 0;
    text-align: center;
    cursor: pointer;
}

#left-panel
{
    /* overflow: hidden; */
    transition: all 0.2s ease;
}

#left-panel.collapsed .login-info .name,
#left-panel.collapsed .login-info .fa,
#left-panel.collapsed nav ul li a span
{
    display: none;
    /* overflow: hidden; */
}

#left-panel.collapsed
{
    width: 50px;

}

#main.collapsed
{
    margin-left: 50px;
    transition: all 0.05s ease;
}

.page-footer
{
    margin-top: 50px;
}

.page-footer a
{
    text-decoration: none;
    transition: all 0.2s ease;
}

.page-footer.collapsed a
{
    margin-left: -170px;
    transition: all 0.2s ease;
}

.comment-container
{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    overflow: visible;
}

.avatar
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-input
{
    width: 700px;
    height: 46px;
    padding: 12px;
    border-radius: 50px;
    border: 1px solid #ccc;
    resize: none;
    overflow: hidden;
    transition: all 0.3s ease;
}

.submit-btn
{
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.submit-btn:hover
{
    background-color: #0056b3;
}

.comment-container #send-button
{
    display: inline-block;
    height: 30px;
}

.comment-container .avatar
{
    border: 1px solid #000;
    transition: all 0.3s ease;
}

.comment-input:focus
{
    border: 2px solid #ff2727;
    height: 100px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

hr.solid
{
    height: 1px;
    background-color: #000;
    border: none;
    margin: 20px 0;
}

.comments-list
{
    display: flex;
    align-self: center;
    flex-direction: column;
}

.comments-list span
{
    padding-top: 0;
}

.comment-container button
{
    background-color: transparent;
    color: white;
    border: #1A1817;
    width: 60px;
    height: 60px;
    border-radius: 200px;
    align-items: center;
}

.comment-detail .class-list
{
    position: absolute;
}

#userName
{
    position: relative;
    top: 10px;
}

#comments-content
{
    position: relative;
    top: -15px;
}

.detail
{
    grid-template-columns: 15fr;
}

.class-list
{
    position: absolute;
    width: 80%;
}

.form-comment-container
{
    overflow: auto;
}

#class-name
{
    border: none;
    width: 290px;
}

#class-id
{
    border: none;
    width: 11%;
}

#class-group
{
    border: none;
    width: 5.5%;
}

#class-num
{
    border: none;
    width: 8%;
}

.help
{
    cursor: pointer;
    color: #adadad;
}

.active>.page-link,
.disabled>.page-link
{
    padding: 0.375rem 0.75rem;
    width: 34px;
    height: 31px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #dee2e6
}

.pagination
{
    display: flex;
    align-self: center;
}

.class-list-detail .class-list,
.student-list-detail .class-list,
.class-subject-detail .class-list,
.class-detail .class-list,
.teacher-detail .class-list
{
    width: 100%;
}

.bcs-detail .class-list
{
    width: 95%;
}

.table
{
    overflow-x: scroll;
}

/* ::-webkit-scrollbar
{
    display: none;
} */

::-webkit-scrollbar-track:horizontal
{
    display: none;
}

::-webkit-scrollbar-button:start
{
    display: none;
}

::-webkit-scrollbar-button:end
{
    display: none;
}

::-webkit-scrollbar-button:horizontal
{
    display: none;
    background-color: transparent !important;
}

::-webkit-scrollbar-thumb:horizontal
{
    display: none;
}

::-webkit-scrollbar-track
{
    background: #f1f1f1;
  }

.detail .class-list table tr .score-input
{
    padding: 0;
    margin: -10px;
}

.table tbody tr td input
{
    padding: 10px;
    width: 51px;
    border: none;
}

.table-add tbody tr td input
{
    padding: 10px;
    border: none;
}

td.score-input
{
    position: relative;
}

.score-input input[type="text"]
{
    display: block;
    padding: 10px;
    margin: 0;
    border: none;
    background: transparent;
}

td.score-input input[type="text"]:focus
{
    outline: none;
    border: none;
}

.comment-group
{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

@media (max-width: 992px)
{
    #main
    {
        width: 90%;
    }

    table
    {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    table tbody
    {
        display: table;
        width: 100%;
    }

    .class-list
    {
        width: 80%;
    }

    .bcs-detail .class-list
    {
        width: 75%;
    }

    .comment-input
    {
        width: 500px;
    }

    .student-table
    {
        width: 65%;
    }

    .comment-container .comment-input,
    hr .solid
    {
        width: 50%;
    }

    #left-panel.collapsed
    {
        width: 70%;
    }
}

@media (max-width: 768px)
{

}

@media (max-width: 480px)
{

}
