.custom-info ul li
{
    margin-bottom:5px;
    margin-left: 120px;
}

.img-upload
{
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

::-webkit-file-upload-button
{
    background: #494949;
    color: white;
    cursor: pointer;
    border-color: #494949;
    outline-color: none;
}

#city, #district, #ward
{
    max-width: 250px;
    height: 30px;
    font-size: 16px;
}

.vertical-line
{
    border-left: 1.5px solid #ccc;
    height: 550px;
    margin: 0 10px;
}

.custom-avatar
{
    display: flex;
}

.info-container
{
    display: flex;

}

.info-container
{
    display: flex;
    align-items: flex-start;
}

.user-info .form-group input::placeholder,
.user-info .form-group input[type="date"]
{
    color: #acabab;
}

select option:first-child
{
    display: block;
}
